body{
font-size : 20px;
  color : red;
}

.a{
font-size : 15px;
background-color : blue;
margin: 15px;
}

.b{
font-size : 15em;
background-color : blue;
margin-left: 15px;
}

.c{
font-size : 15rem;
background-color : blue;
}

.d{
/* Variable:Ignore */
font-size: 18px;
background-color: aliceblue;
}

.e{
font-size: 17rem;
background-color: yellowgreen;
}
.f{
/* Variable:Ignore */
font-size: var(--fsize15em);
}
@media (hover: hover) {
.a{
  color : red
}
.b{
  font-size: 15rem;
}
.c{
  font-size: 10px;
}
}